* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    margin-bottom: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    width: 50%;
    margin: auto;
}
.menu {
    width: fit-content;
    margin: auto; 
    margin-bottom: 25px;  
}
ul,li {
    list-style-type: none;    
}
#myList {
    width: fit-content;
    margin: auto;
}
.note {
    width: 40vh;
    height: 8vh;
    margin-bottom: 10px;
    padding: 5px 5px 5px 10px;
    border-radius: 5px;
    box-sizing: content-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: lightblue;
}
.icons {
    align-self: center;
}
.icon {
    margin-left: 10px;
    cursor: pointer;
}